@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;

.button {
  padding: 0.5rem 1rem;
  color: $color-text-secondary;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid transparent;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    color: $color-text-primary;
  }

  &--active {
    color: $color-primary;
    background: $color-primary-muted;
    border-color: $color-border-accent;
    border-radius: 1.25rem;
  }
}
