@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;

.statcard {
  padding: 1rem;
  background: $color-primary-subtle;
  border: 1px solid $color-primary-muted;
  border-radius: 0.8rem;
  @include flex-column($justify: space-between, $align: flex-start);
  gap: 0.8rem;

  &__icon {
    font-size: 1rem;
  }

  &__value {
    color: $color-text-primary;
    margin-top: 0.5rem;
    font-weight: 600;
  }

  &__label {
    font-size: 0.7rem;
    color: $color-text-muted;
    text-transform: capitalize;
  }
}
